<h1>Profile</h1>
<p><h6 style="display: inline-block; margin: 0;">Name:</h6> <%= user.profile.displayName || user.name %></p>
<p><h6 style="display: inline-block; margin: 0;">Email:</h6> <%= user.profile.username %></p>
